<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/mysite.css">
    <title>Добавить пост</title>
</head>
<body>
<a href="/">Назад</a>
<div>
    <h1>Добавить пост</h1>
    <p>Картинка к посту</p>
    <form action="/post/" method="post" enctype="multipart/form-data">
        <input type="file" name="picture">
        <p>Текст к посту</p>
        <p><textarea name="description" cols="35" rows="5"></textarea></p>
        <input type="submit" value="Отправить">
    </form>


</div>
</body>
</html>