<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/mysite.css">
    <title>Пост добавлен</title>
</head>
<body>
<a href="/">Назад</a>
<div class="main">
    <h1>Пост добавлен</h1>

    <div class="item" align="center">
        <img src="/uploads/{{ filename }}">
    </div>
    <p class="text">
        {{ description }}
    </p>
    <hr>
    <form action="/post/" method="get">
        <input type="submit" value="Добавить еще пост">
    </form>
</div>
</body>
</html>