<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/mysite.css">
    <title>Каталог</title>
</head>
<body>
<div class="main">
    <h1>Поиск постов</h1>
    <p>По вхождению слова</p>
    <form action="/search/">
        <input type="text" name="find" value="еда">
        <input type="submit" value="Найти">
    </form>
    <br>
    <hr>
    <form action="/post/">
        <input type="submit" value="Добавить пост">
    </form>
</div>
</body>
</html>